<template>    
    <Ingresos/>
</template>
  
<script>
import Ingresos from '@/components/Ingresos.vue'
export default {
    name: 'ingresosView',
    components: {        
        Ingresos
    },
}
</script>