<template>
    <v-conteiner id="titulo">
        <div>
            <v-img :src="require('../assets/logo-dk.png')" class="my-3" contain height="200" />
        </div>
        <div>
            <h1 class="display-2 font-weight-bold mb-3">
                Santiago Di Colantonio
            </h1>
        </div>
        <v-form v-model="valid" lazy-validation ref="form">
            <v-container>
                <v-row>
                    <v-col>
                        <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" label="Item"
                            required></v-select>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-text-field v-model="descripcion" :rules="descriptionRules" :counter="40" label="Descripción de ingreso"
                            required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-text-field v-model="monto" type="number" :rules="montoRules" :counter="10" label="Monto en $"
                            required></v-text-field>
                    </v-col>
                </v-row>
            </v-container>
            <div>
                <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                    Validate
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset">
                    Reset Form
                </v-btn>
                <v-btn to="/" color="primary">Volver</v-btn>
            </div>
        </v-form>
    </v-conteiner>
</template>
<script>
export default {
    name: 'ingresos',

    data: () => ({
        valid: false,
        descripcion: '',        
        monto: '',

        descriptionRules: [
            v => !!v || 'Ingrese una descripción',
            v => v.length <= 50 || 'La descripción no debe contener más de 50 caracteres',
        ],        
        montoRules: [
            v => !!v || 'Ingrese un monto',
            v => v.length <= 10 || 'El monto no debe contener más de 10 caracteres',
        ],
        select: null,
        items: [
            'CUOTAS',
            'SPONSORS',
            'ENTRADAS',
            'CANTINAS',
            'MERCHANDAISING'
        ],
    }),

    methods: {
        validate() {
            this.$refs.form.validate()
        },
        reset() {
            this.$refs.form.reset()
        }
    }

}
</script>

<style>
#titulo {
    text-align: center;
}
</style>