<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img :src="require('../assets/logo-dk.png')" class="my-3" contain height="200" />
      </v-col>
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Santiago Di Colantonio
        </h1>
      </v-col>
    </v-row>
    <div id="btn">
      <v-btn to="/newUserView" color="primary">Ingresar Usuario</v-btn>
      <v-btn to="userView" color="cyan">Usuarios</v-btn>
      <v-btn to="/ingresosView" color="green">Ingresos</v-btn>
      <v-btn to="/gastosView" color="red">Gastos</v-btn>
      <v-btn to="/balanceView" color="yellow">Balance</v-btn>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'Inicio',

  data: () => ({
  }),
}
</script>

<style>
#btn{
  margin-left: 25%;
}
</style>
