<template>
    <v-conteiner id="titulo">
        <div>
            <v-img :src="require('../assets/logo-dk.png')" class="my-3" contain height="200" />
        </div>
        <div>
            <h1 class="display-2 font-weight-bold mb-3">
                Santiago Di Colantonio
            </h1>
        </div>
        <v-form v-model="valid" lazy-validation ref="form">
            <v-container>
                <v-row>
                    <v-col cols="12" md="4">
                        <v-text-field v-model="firstname" :rules="nameRules" :counter="20" label="Nombre"
                            required></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="lastname" :rules="nameRules" :counter="20" label="Apellido"
                            required></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="date" :rules="dateRules" :counter="10" label="Fecha de Nacimiento"
                            required></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="dni" :rules="dniRules" :counter="8" label="DNI"
                            required></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="domicilio" :rules="domRules" :counter="50" label="Domicilio"
                            required></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="telefono" :rules="phoneRules" :counter="10" :error-messages="errors" 
                            label="Teléfono" required></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-text-field v-model="extra" :rules="extraRules" :counter="50" label="Información extra"></v-text-field>
                    </v-col>
                </v-row>
            </v-container>


            <div>
                <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                    Validate
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset">
                    Reset Form
                </v-btn>
                <v-btn to="/" color="primary">Volver</v-btn>
            </div>
        </v-form>
    </v-conteiner>
</template>

<script>
export default {
    name: 'newUser',

    data: () => ({
        valid: false,
        firstname: '',
        lastname: '',
        dni: '',
        date: '',
        domicilio: '',
        telefono: '',
        email: '',
        extraRules: '',

        nameRules: [
            v => !!v || 'Ingrese un nombre',
            v => v.length <= 20 || 'El nombre no debe contener más de 20 caracteres',
        ],
        email: '',
        emailRules: [
            v => !!v || 'Ingrese un E-mail ',
            v => /.+@.+/.test(v) || 'Ingrese un E-mail valido',
        ],
        dniRules: [
            v => !!v || 'Ingrese un DNI',
            v => v.length <= 8 || 'El numero no debe contener más de 8 caracteres',
        ],
        domRules: [
            v => !!v || 'Ingrese un Domicilio',
            v => v.length <= 50 || 'El domicilio no debe contener más de 50 caracteres',
        ],
        dateRules: [
            v => !!v || 'Ingrese una fecha',
            v => v.length <= 10 || 'La fecha no debe contener más de 10 caracteres',
        ],
        phoneRules: [
            v => !!v || 'Ingrese un telefono',
            v => v.length <= 10 || 'El número no debe contener más de 10 caracteres',
        ],
        extraRules: [
            v => v.length <= 50 || 'No debe contener más de 50 caracteres',
        ],
    }),

    methods: {
        validate() {
            this.$refs.form.validate()
        },
        reset() {
            this.$refs.form.reset()
        }
    }

}
</script>

<style>
#titulo {
    text-align: center;
}
</style>