<template>
    <v-conteiner id="titulo">
        <div>
            <v-img :src="require('../assets/logo-dk.png')" class="my-3" contain height="200" />
        </div>
        <div>
            <h1 class="display-2 font-weight-bold mb-3">
                Santiago Di Colantonio
            </h1>
        </div>
        <v-data-table :headers="headers" :items="datos" :items-per-page="5" class="elevation-1"></v-data-table>
        <v-btn id="btn" to="/" color="cyan">Volver</v-btn>
    </v-conteiner>
</template>
<script>
export default {
    name: 'usuario',
    data() {
        return {
            headers: [
                {
                    text: 'Nombre',
                    align: 'start',
                    sortable: false,
                    value: 'nombre',
                },
                { text: 'Apellido', value: 'apellido' },
                { text: 'Fecha de Nacimiento', value: 'nacim' },
                { text: 'DNI', value: 'dni' },
                { text: 'Domicilio', value: 'domicilio' },
                { text: 'Teléfono', value: 'telefono' },
                { text: 'E-mail', value: 'email' },
                { text: 'Información extra ', value: 'extra' },
            ],
            datos: [
                {
                    nombre: 'Maria Florencia',
                    apellido: 'Muñoz',
                    nacim: '01-02-1984',
                    dni: 30684279,
                    domicilio: 'La Rioja 409 piso 3',
                    telefono: '3815154579',
                    email: 'florenciamuñoz1984@gmail.com',
                    extra: 'telefono alternativo 3815154575 (marido)',
                },
                {
                    nombre: 'Alberto Santiago',
                    apellido: 'Di Colantonio',
                    nacim: '15-11-1978',
                    dni: 27016163,
                    domicilio: 'La Rioja 409 piso 3',
                    telefono: '3815154575',
                    email: 'dicolantoniosantiago@gmail.com',
                    extra: 'telefono alternativo 3815154579 (esposa)',
                },
                {
                    nombre: 'Ana Paula',
                    apellido: 'Di Colantonio',
                    nacim: '18-12-2008',
                    dni: 49149048,
                    domicilio: 'La Rioja 409 piso 3',
                    telefono: '3815154666',
                    email: 'dicolantonioanapaula@gmail.com',
                    extra: 'telefono alternativo 3815154575/9(padres)',
                },
            ],
        }
    },
}
</script>

<style>
#titulo {
    text-align: center;
}

#btn {
    margin-left: -2%;
    margin-top: 2%;
}
</style>